body {
   margin: 0;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: Arial, sans-serif;
   transition: background 0.3s ease;
   transition: background-color 0.4s ease;


}

.container {
   text-align: center;
   background: rgba(255,255,255,0.3);
   padding: 20px 40px;
   border-radius: 12px;
   backdrop-filter: blur(10px);
}

#code {
   font-size: 2rem;
   margin-bottom: 20px;
}

#btn {
   padding: 10px 20px;
   font-size: 1.1rem;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   background: black;
   color: white;
   transition: 0.3s;
   box-shadow: 0 4px 30px rgba(0,0,0,0.2);

}

#btn:hover {
   opacity: 0.8;
}
